<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <header></header>
    <div class="container py-4">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Acceso denegado</h6>
            </div>
            <div class="card-body">
                <p class="card-text">Lo sentimos no tienes los accesos necesarios para poder acceder a esta página.</p>
            </div>
        </div>
    </div>
    <footer ></footer>
</body>
</html>